.DS_Store
instantclient-basic-macos.arm64-23.26.1.0.0/.DS_Store
instantclient-basic-macos.arm64-23.26.1.0.0/adrci
instantclient-basic-macos.arm64-23.26.1.0.0/BASIC_LICENSE
instantclient-basic-macos.arm64-23.26.1.0.0/BASIC_README
instantclient-basic-macos.arm64-23.26.1.0.0/fips.dylib
instantclient-basic-macos.arm64-23.26.1.0.0/fips1403.dylib
instantclient-basic-macos.arm64-23.26.1.0.0/genezi
instantclient-basic-macos.arm64-23.26.1.0.0/install_ic.sh
instantclient-basic-macos.arm64-23.26.1.0.0/INSTALL_IC_README.txt
instantclient-basic-macos.arm64-23.26.1.0.0/instantclient_23_26/adrci
instantclient-basic-macos.arm64-23.26.1.0.0/instantclient_23_26/BASIC_LICENSE
instantclient-basic-macos.arm64-23.26.1.0.0/instantclient_23_26/BASIC_README
instantclient-basic-macos.arm64-23.26.1.0.0/instantclient_23_26/fips.dylib
instantclient-basic-macos.arm64-23.26.1.0.0/instantclient_23_26/fips1403.dylib
instantclient-basic-macos.arm64-23.26.1.0.0/instantclient_23_26/genezi
instantclient-basic-macos.arm64-23.26.1.0.0/instantclient_23_26/install_ic.sh
instantclient-basic-macos.arm64-23.26.1.0.0/instantclient_23_26/INSTALL_IC_README.txt
instantclient-basic-macos.arm64-23.26.1.0.0/instantclient_23_26/legacy.dylib
instantclient-basic-macos.arm64-23.26.1.0.0/instantclient_23_26/libclntsh.dylib
instantclient-basic-macos.arm64-23.26.1.0.0/instantclient_23_26/libclntsh.dylib.10.1
instantclient-basic-macos.arm64-23.26.1.0.0/instantclient_23_26/libclntsh.dylib.11.1
instantclient-basic-macos.arm64-23.26.1.0.0/instantclient_23_26/libclntsh.dylib.12.1
instantclient-basic-macos.arm64-23.26.1.0.0/instantclient_23_26/libclntsh.dylib.18.1
instantclient-basic-macos.arm64-23.26.1.0.0/instantclient_23_26/libclntsh.dylib.19.1
instantclient-basic-macos.arm64-23.26.1.0.0/instantclient_23_26/libclntsh.dylib.20.1
instantclient-basic-macos.arm64-23.26.1.0.0/instantclient_23_26/libclntsh.dylib.21.1
instantclient-basic-macos.arm64-23.26.1.0.0/instantclient_23_26/libclntsh.dylib.22.1
instantclient-basic-macos.arm64-23.26.1.0.0/instantclient_23_26/libclntsh.dylib.23.1
instantclient-basic-macos.arm64-23.26.1.0.0/instantclient_23_26/libclntshcore.dylib
instantclient-basic-macos.arm64-23.26.1.0.0/instantclient_23_26/libclntshcore.dylib.12.1
instantclient-basic-macos.arm64-23.26.1.0.0/instantclient_23_26/libclntshcore.dylib.18.1
instantclient-basic-macos.arm64-23.26.1.0.0/instantclient_23_26/libclntshcore.dylib.19.1
instantclient-basic-macos.arm64-23.26.1.0.0/instantclient_23_26/libclntshcore.dylib.20.1
instantclient-basic-macos.arm64-23.26.1.0.0/instantclient_23_26/libclntshcore.dylib.21.1
instantclient-basic-macos.arm64-23.26.1.0.0/instantclient_23_26/libclntshcore.dylib.22.1
instantclient-basic-macos.arm64-23.26.1.0.0/instantclient_23_26/libclntshcore.dylib.23.1
instantclient-basic-macos.arm64-23.26.1.0.0/instantclient_23_26/libnnz.dylib
instantclient-basic-macos.arm64-23.26.1.0.0/instantclient_23_26/libocci.dylib
instantclient-basic-macos.arm64-23.26.1.0.0/instantclient_23_26/libocci.dylib.10.1
instantclient-basic-macos.arm64-23.26.1.0.0/instantclient_23_26/libocci.dylib.11.1
instantclient-basic-macos.arm64-23.26.1.0.0/instantclient_23_26/libocci.dylib.12.1
instantclient-basic-macos.arm64-23.26.1.0.0/instantclient_23_26/libocci.dylib.18.1
instantclient-basic-macos.arm64-23.26.1.0.0/instantclient_23_26/libocci.dylib.19.1
instantclient-basic-macos.arm64-23.26.1.0.0/instantclient_23_26/libocci.dylib.20.1
instantclient-basic-macos.arm64-23.26.1.0.0/instantclient_23_26/libocci.dylib.21.1
instantclient-basic-macos.arm64-23.26.1.0.0/instantclient_23_26/libocci.dylib.22.1
instantclient-basic-macos.arm64-23.26.1.0.0/instantclient_23_26/libocci.dylib.23.1
instantclient-basic-macos.arm64-23.26.1.0.0/instantclient_23_26/libociei.dylib
instantclient-basic-macos.arm64-23.26.1.0.0/instantclient_23_26/libocijdbc23.dylib
instantclient-basic-macos.arm64-23.26.1.0.0/instantclient_23_26/network/admin/README
instantclient-basic-macos.arm64-23.26.1.0.0/instantclient_23_26/ojdbc11.jar
instantclient-basic-macos.arm64-23.26.1.0.0/instantclient_23_26/ojdbc17.jar
instantclient-basic-macos.arm64-23.26.1.0.0/instantclient_23_26/ojdbc8.jar
instantclient-basic-macos.arm64-23.26.1.0.0/instantclient_23_26/pkcs11.dylib
instantclient-basic-macos.arm64-23.26.1.0.0/instantclient_23_26/ucp.jar
instantclient-basic-macos.arm64-23.26.1.0.0/instantclient_23_26/ucp11.jar
instantclient-basic-macos.arm64-23.26.1.0.0/instantclient_23_26/ucp17.jar
instantclient-basic-macos.arm64-23.26.1.0.0/instantclient_23_26/uidrvci
instantclient-basic-macos.arm64-23.26.1.0.0/instantclient_23_26/xstreams.jar
instantclient-basic-macos.arm64-23.26.1.0.0/legacy.dylib
instantclient-basic-macos.arm64-23.26.1.0.0/libclntsh.dylib
instantclient-basic-macos.arm64-23.26.1.0.0/libclntsh.dylib.10.1
instantclient-basic-macos.arm64-23.26.1.0.0/libclntsh.dylib.11.1
instantclient-basic-macos.arm64-23.26.1.0.0/libclntsh.dylib.12.1
instantclient-basic-macos.arm64-23.26.1.0.0/libclntsh.dylib.18.1
instantclient-basic-macos.arm64-23.26.1.0.0/libclntsh.dylib.19.1
instantclient-basic-macos.arm64-23.26.1.0.0/libclntsh.dylib.20.1
instantclient-basic-macos.arm64-23.26.1.0.0/libclntsh.dylib.21.1
instantclient-basic-macos.arm64-23.26.1.0.0/libclntsh.dylib.22.1
instantclient-basic-macos.arm64-23.26.1.0.0/libclntsh.dylib.23.1
instantclient-basic-macos.arm64-23.26.1.0.0/libclntshcore.dylib
instantclient-basic-macos.arm64-23.26.1.0.0/libclntshcore.dylib.12.1
instantclient-basic-macos.arm64-23.26.1.0.0/libclntshcore.dylib.18.1
instantclient-basic-macos.arm64-23.26.1.0.0/libclntshcore.dylib.19.1
instantclient-basic-macos.arm64-23.26.1.0.0/libclntshcore.dylib.20.1
instantclient-basic-macos.arm64-23.26.1.0.0/libclntshcore.dylib.21.1
instantclient-basic-macos.arm64-23.26.1.0.0/libclntshcore.dylib.22.1
instantclient-basic-macos.arm64-23.26.1.0.0/libclntshcore.dylib.23.1
instantclient-basic-macos.arm64-23.26.1.0.0/libnnz.dylib
instantclient-basic-macos.arm64-23.26.1.0.0/libocci.dylib
instantclient-basic-macos.arm64-23.26.1.0.0/libocci.dylib.10.1
instantclient-basic-macos.arm64-23.26.1.0.0/libocci.dylib.11.1
instantclient-basic-macos.arm64-23.26.1.0.0/libocci.dylib.12.1
instantclient-basic-macos.arm64-23.26.1.0.0/libocci.dylib.18.1
instantclient-basic-macos.arm64-23.26.1.0.0/libocci.dylib.19.1
instantclient-basic-macos.arm64-23.26.1.0.0/libocci.dylib.20.1
instantclient-basic-macos.arm64-23.26.1.0.0/libocci.dylib.21.1
instantclient-basic-macos.arm64-23.26.1.0.0/libocci.dylib.22.1
instantclient-basic-macos.arm64-23.26.1.0.0/libocci.dylib.23.1
instantclient-basic-macos.arm64-23.26.1.0.0/libociei.dylib
instantclient-basic-macos.arm64-23.26.1.0.0/libocijdbc23.dylib
instantclient-basic-macos.arm64-23.26.1.0.0/network/admin/README
instantclient-basic-macos.arm64-23.26.1.0.0/ojdbc11.jar
instantclient-basic-macos.arm64-23.26.1.0.0/ojdbc17.jar
instantclient-basic-macos.arm64-23.26.1.0.0/ojdbc8.jar
instantclient-basic-macos.arm64-23.26.1.0.0/pkcs11.dylib
instantclient-basic-macos.arm64-23.26.1.0.0/ucp.jar
instantclient-basic-macos.arm64-23.26.1.0.0/ucp11.jar
instantclient-basic-macos.arm64-23.26.1.0.0/ucp17.jar
instantclient-basic-macos.arm64-23.26.1.0.0/uidrvci
instantclient-basic-macos.arm64-23.26.1.0.0/xstreams.jar
